.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
  
  .title {
    text-align: center;
    color: #282c34;
  }
  
  .button {
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .name {
    position: absolute;
    top: 10px;
    left: 30px;
    background: none;
    color: white;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: white;
    border: none;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .close-button:hover {
    color: #007BFF;
  }
  
  .calculation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  