/* styles.css */

body {
    background-color: #282c34;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 400px;
    margin-top: 0px;
    margin-bottom: 300px;
  }
  
  header {
    color: white;
    padding: 20px;
  }
  
  footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 100px;
    
  }
  
  .form1 {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 20px;
    margin-top: 700px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  .title {
    text-align: center;
    color: #282c34;
  }
  
  .button {
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .name {
    position: absolute;
    top: 10px;
    left: 30px;
    background: none;
    color: white;
    border: none;
    font-size: 14px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: white;
    border: none;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .close-button:hover {
    color: #007bff;
  }
  
  .calculation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .address-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .label {
    min-width: 150px;
    text-align: right;
    margin-right: 20px;
  }
  
  .label2 {
    min-width: 150px;
    margin-left: 50px;
    margin-right: -30px;
  }
  
  .label1 {
    font-weight: bold;
  }
  
  .input {
    width: 100px;
    padding: 5px;
    margin-right: -5px;
    margin-left: 50px;
  }
  .btn_save{
    margin: auto;
    margin-top: 40px;
    padding: 10px 10px; /* Измените значение padding, чтобы уменьшить ширину кнопки */
    font-size: 16px;
    width: 200px;
    border: none;
    background-color: #007bff;
    color: #ffa;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }